#header {
	margin-top: 25px;
	text-align: center;
	font-family: 'Major Mono Display', monospace;
}

#info-credits {
	text-align: center;
	font-size: 9px;
	font-family: 'IBM Plex Mono', monospace;
}

#info-credits-link {
	text-decoration: none;
	color: #4388f9;
	text-align: center;
	font-size: 9px;
	font-family: 'IBM Plex Mono', monospace;
}

td {
	padding-top: 5px; 
}

#info {
	margin-top: 15px;	
	background-color: #EEE;
	display: inline-block;
	border-radius: 8px;
	border: solid black 1px;
	padding: 10px;
	max-width: 550px;
	box-shadow: 5px 5px 25px #888888;
}

#title {
	font-size: 2em;
	font-weight: bold;
}

#subtitle {
	font-size: 1em;
	font-weight: italic;
}

#info-title {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Major Mono Display', monospace;
}


table {
	margin: auto auto auto auto;
	font-size: 15px;
	font-family: 'IBM Plex Mono', monospace;
}

#credits {
	position: fixed;
	bottom: 10px;
	text-align: center;
	font-size: 0.5em;
	font-family: 'IBM Plex Mono', monospace;
	margin-right: auto;
	margin-left: auto;
	left: 0px;
	right: 0px;
}

#link {
	text-decoration: none;
	color: #4388f9;
}


.btns {
  border: 1px solid black;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 26px;
  border-radius: 6px;
}


#resume {
  font-size: 15px;
  background-color: #abedaa;
}

#pause {
  font-size: 15px;
  background-color: #f9d484;
}

#reset {
  font-size: 15px;
  background-color: #f98e8e;
}

#controls, #btn-study, #btn-break{
  font-size: 15px;
  margin-bottom: 10px;
}

#btn-break {
  margin-top: 5px;
}

#custom {
  font-size: 15px;
  border-radius:6px;
  width: 50px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid black;
}

#study25, #studyCustom, #break5, #break10 {
  font-size: 15px;
}


#timer-show {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  color: black;
}


#timer {
  width: 25%;
  /*float: right;*/
  min-width: 350px;
  box-shadow: 10px 10px 31px -6px rgba(0,0,0,0.75);
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 15px;
  padding-top: 10px;
}